body
    font sans-serif
    
#image
    position: absolute
    top 0px
    left 0px

.menu
    position: absolute
    top: 315px
    left 0px

.menu > div
    margin 0px
    width 164px
    text-align center
    display inline-block

div.title
    background rgba(0,0,0,0.8)
    color white

div.drag
    border 2px solid blue
